<div class="ui-g-12 ui-fluid" >
  <input pInputText #globalFilter type="text" placeholder="Digite aqui para filtrar seus resultados">
</div>

<div class="ui-g-12" >
  <p-dataTable [value]="lancamentos" [rows]="10" [paginator]="true" [globalFilter]="globalFilter" [responsive]="true">
    <p-header>Resultados para Lançamentos</p-header>
    <p-column field="pessoa" header="Pessoa" ></p-column>
    <p-column field="descricao" header="Descricao" ></p-column>
    <p-column field="dataVencimento" header="Vencimento" styleClass="col-data" >
      <ng-template let-lanc="rowData" pTemplate="body" >
        {{lanc.dataVencimento | date:'dd/MM/y'}}
      </ng-template>
    </p-column>
    <p-column field="dataPagamento" header="Pagamento" styleClass="col-data" >
      <ng-template let-lanc="rowData" pTemplate="body" >
        {{lanc.dataPagamento | date:'dd/MM/y'}}
      </ng-template>
    </p-column>
    <p-column field="valor" header="Valor" styleClass="col-valor" >
      <ng-template let-lanc="rowData" pTemplate="body" >
        <span [style.color]=" lanc.tipo === 'DESPESA' ? 'red' : 'blue' " >{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-action" >
      <ng-template pTemplate="body" >
        <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" ></a>
        <button type="button" pButton icon="fa-trash" pTooltip="Remover" tooltipPosition="top" ></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
