<div class="container" >
  <div class="ui-g" >
    <div class="ui-g-12" >
      <h1>Novo Lançamento</h1>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid" >
      <label for="vencimento">Vencimento</label>
      <input type="text" name="vencimento" pInputText>
    </div>
    <div class="ui-g-6 ui-md-3 ui-fluid" >
      <label for="pagamento">Pagamento</label>
      <input type="text" name="pagamento" pInputText>
    </div>
    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" pInputText >
    </div>
    <div class="ui-g-12 ui-m-3 ui-fluid">
      <label for="valor">Valor</label>
      <input type="text" pInputText >
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="categoria">Categoria</label>
      <input type="text" pInputText >
    </div>
    <div class="ui-g-12 ui-md-6 ui-fluid">
      <label for="pessoa">Pessoa</label>
      <input type="text" pInputText>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label for="observacao">Observação</label>
      <textarea name="observacao" pInputTextarea></textarea>
    </div>

    <div class="ui-g-12" >
      <button type="submit" pButton label="Salvar" ></button>
      <button type="submit" pButton label="Novo" class="ui-button-info" ></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>

  </div>
</div>
