<div class="container" style="max-width: 400px; margin: auto" >
  <form #loginForm="ngForm" autocomplete="off">
    <div class="ui-g" >
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12 ui-fluid" >
        <input type="email" name="usuario" id="usuario" pInputText placeholder="Digite seu usuário"
          ngModel #usuario="ngModel" required >
      </div>
      <div class="ui-g-12 ui-fluid" >
        <input type="password" name="senha" id="senha" pInputText placeholder="Digite a senha"
          ngModel #senha="ngModel" required >
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"
          (click)="login(usuario.value, senha.value); senha.value = '';"></button>
      </div>

    </div>
  </form>
</div>
