<div class="container" >
  <form>
    <div class="ui-g" >

      <div class="ui-g-12" >
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid" >
        <label for="nome">Nome</label>
        <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Número</label>
        <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label for="numero">Complemento</label>
        <input type="text" pInputText >
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="numero">CEP</label>
        <p-inputMask mask="99.999-999" ></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="numero">Bairro</label>
        <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="numero">Cidade</label>
        <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label for="numero">Estado</label>
        <p-dropdown [options]="estados" [autoWidth]="false" [filter]="true" placeholder="Selecione" ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12 " >
      <button pButton label="Salvar" type="button" ></button>
      <button pButton label="Novo" type="button" class="ui-button-info" ></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
