<div class="container">

  <div class="ui-g" >
    <div class="ui-g-12" >
      <h1>Lançamentos</h1>
    </div>

    <form #lancamentoForm="ngForm" (ngSubmit)="pesquisar()" >
      <div class="ui-g-12 ui-fluid">
        <label for="descricao" >Descrição</label>
        <input type="text" name="descricao" pInputText [(ngModel)]="filtro.descricao" >
      </div>

      <div class="ui-g-12" >
        <label style="display:block" >Data Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [inputStyle]="{ width : '95px' }"
          name="dataVencFim" [(ngModel)]="filtro.dataVencimentoInicio" [locale]="pt_calendar" ></p-calendar>
        <label style="display:block" >até</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [inputStyle]="{ width : '95px' }"
          name="dataVencFim" [(ngModel)]="filtro.dataVencimentoFim" [locale]="pt_calendar" ></p-calendar>
      </div>

      <div class="ui-g-12" >
        <button pButton type="submit" class="ui-button-primary" label="Pesquisar" ></button>
        <a pButton class="ui-button-info" label="Novo" routerLink="/lancamentos/novo"
          *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"></a>
      </div>
    </form>

  </div>

  <div class="ui-g" >

    <div class="ui-g-12 ui-fluid" >
      <input pInputText #globalFilter type="text" placeholder="Digite aqui para filtrar seus resultados">
    </div>

    <div class="ui-g-12" >
      <p-dataTable #tabela [value]="lancamentos" [responsive]="true"
        [globalFilter]="globalFilter" emptyMessage="Nenhum lançamento encontrado"
        [rows]="filtro.itensPorPagina" [paginator]="true" [totalRecords]="totalRegistros"
        [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" >
        <p-header>Resultados para Lançamentos</p-header>
        <p-column field="pessoa" header="Pessoa" ></p-column>
        <p-column field="descricao" header="Descricao" ></p-column>
        <p-column field="dataVencimento" header="Vencimento" styleClass="col-data" >
          <ng-template let-lanc="rowData" pTemplate="body" >
            {{lanc.dataVencimento | date:'dd/MM/y'}}
          </ng-template>
        </p-column>
        <p-column field="dataPagamento" header="Pagamento" styleClass="col-data" >
          <ng-template let-lanc="rowData" pTemplate="body" >
            {{lanc.dataPagamento | date:'dd/MM/y'}}
          </ng-template>
        </p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor" >
          <ng-template let-lanc="rowData" pTemplate="body" >
            <span [style.color]=" lanc.tipo === 'DESPESA' ? 'red' : 'blue' " >{{lanc.valor | currency:'BRL':true:'1.2-2'}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-action" *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO') || auth.temPermissao('ROLE_REMOVER_LANCAMENTO')" >
          <ng-template pTemplate="body" let-lanc="rowData" >
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="['/lancamentos', lanc.codigo]" *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')" ></a>
            <button type="button" pButton icon="fa-trash" pTooltip="Remover" tooltipPosition="top"
              (click)="confirmarExclusao(lanc)" *ngIf="auth.temPermissao('ROLE_REMOVER_LANCAMENTO')" ></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

  </div>


</div>
